* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write your CSS code here */
.main-container {
  padding: 20px;
  border: solid 2px rgb(46, 43, 44);
  width: 100%;
}
.card-container{
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: space-between;
}